.ProfileContainer{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    max-width: 30vw;
    min-height: 30vh;
    min-width: 30vw;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7EF4FF;
  z-index: 10;
}