.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.error{
    color: red;
}

label{
    margin-bottom: .5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 100%;
}

