.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: 92vh;
  overflow-y: scroll;
  padding-right: 15px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.ListContainer {
  min-width: 88vw;
  min-height: 100vh;
  overflow: hidden;
}

.SearchBar {
  padding: 0.5rem;
  padding-right: 3rem;
  outline: none;
  border: 0px;
  background-color: #94b0b3;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 92vh;
    overflow-y: scroll;
    padding-right: 15px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
  }

  .ListContainer {
    min-width: 80vw;
    min-height: 100vh;
    overflow: hidden;
  }
}
