.FormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Submit-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 100%;
}