div .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  min-width: 9rem;
  max-width: 9rem;
  background-color: #94b0b3;
  margin: 1rem;
  transition-timing-function: ease-in;
  transition: 0.1s;
  box-shadow: 0 0 5px black;
}

#zoom:hover {
  transition-timing-function: ease-out;
  transition: 0.1s;
  scale: 1.05;
  background-color: #324b4d;
  box-shadow: 0 0 8px black;
}

.subHeader {
  min-width: 9rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.01rem;
}

div .cell-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  min-width: 9rem;
  max-width: 9rem;
  background-color: #324b4d;
  margin: 1rem;
  transition-timing-function: ease-in;
  transition: 0.1s;
  box-shadow: 0 0 5px black;
}

@media screen and (max-width: 480px) {
  div {
    font-weight: 400;
  }

  div .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    min-width: 7.5rem;
    max-width: 7.5rem;
    background-color: #94b0b3;
    margin: 1rem;
    transition-timing-function: ease-in;
    transition: 0.1s;
    box-shadow: 0 0 5px black;
  }

  div .cell-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    min-width: 7.5rem;
    max-width: 7.5rem;
    background-color: #324b4d;
    margin: 1rem;
    transition-timing-function: ease-in;
    transition: 0.1s;
    box-shadow: 0 0 5px black;
  }

  .subHeader {
    min-width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0.01rem;
  }
}
