div .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  min-width: 10rem;
  background-color: white;
  margin: 1rem;
  border-radius: 18px;
  transition-timing-function: ease-in;
  transition: 0.1s;
}

#zoom:hover {
  transition-timing-function: ease-out;
  transition: 0.1s;
  scale: 1.05;
  background-color: white;
}

.subHeader {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
