.PokeContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 90vh;
}

table {
  min-width: 90vw;
  max-width: 90vw;
}

th {
  text-align: left;
  font-size: x-large;
}

.App {
  background-color: #7ef4ff;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;

  min-width: 90vw;
  max-width: 90vw;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 15%;
  width: 15%;
}

.radioContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 100%;
}

.radioButton {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 100%;
}
