.PokeContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

table {
  min-width: 100vw;
}

th {
  text-align: left;
  font-size: x-large;
}

.App {
  background-color: gray;
  min-height: 105vh;
  overflow-x: hidden;
  display: flex;

  width: 100%;
  height: 100%;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 15%;
  width: 15%;
}

.radioContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 100%;
}

.radioButton {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 100%;
}
